*{
    font-family: "Roboto Slab";
    padding: 0;
    margin: 0;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none; /* no underline */
    }

body{
    display: grid;
}

@import "_carousel";
@import "_header";
@import "_footer";
@import "_formularios";
@import "_contenidoConAside";
@import "_tarjetas";