*{
    font-family: "Roboto Slab";
    padding: 0;
    margin: 0;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none; /* no underline */
    }

body{
    display: grid;
}


@import "utilities/variables.scss";
@import "utilities/mixins.scss";

@import "layout/header";
@import "layout/footer";
@import "layout/formularios";
@import "layout/contenidoConAside";
@import "layout/sectionTarjetas";
@import "layout/textosIntervalentes";


@import "components/tarjetas";
@import "components/carousel";
@import "components/mainLinksLista";

@import "views/index";