.tarjeta{
    text-align: center;

    margin: 2rem;

    width: 100px;

    border: 1px solid black;

    padding: 2px;

    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.84);

    transition: all 0.5s;
    a{
        img{
            width: 100%;            
    
        }
    }

    @media (min-width: 1100px){
        @include tamanos(auto, 200px);
    }

    height: auto;

    &:hover{
        transform: translate(-5px,-5px);

        box-shadow: 7px 7px 8px 7px rgba(0,0,0,0.84);
    }
    
}

