.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 1000;

    img{
        width: 100px;
        height: 100px;
        margin: 1rem;
    }

    .responsive-navbar{
        display: flex;
        align-content: center;
    }
}

 nav ul{
     float: right;
     margin-right: 20px;
     
 }
 

 nav ul li{
     display: inline-block;
     line-height: 80px;
     margin: 0 5px;
     
 }
 nav ul li a{
     font-size: 17px;
     text-transform: uppercase;
     padding: 7px 13px;
     border-radius: 3px;
 }

 a{
    transition: 0.5s; 
    &.active,&:hover{
        background: rgb(199, 54, 54);
    }
 }

 .checkbtn{
     font-size: 30px;
     float: right;
     line-height: 80px;
     margin-right: 40px;
     cursor: pointer;
 }

 #check,.checkbtn{
     display: none;

 }

 .navBar-separator{
     height: 170px;
 }

 @media (max-width: 952px){
     label.logo{
         font-size: 30px;
         padding-left:50px;
     }
     nav ul li a{
         font-size:16px ;
    }
 }

 @media(max-width:858px){
     .checkbtn{
         display: flex;
     }
.header{
     ul{
         margin-top: 3rem;
         position: fixed;
         z-index: 100;
         width: 100%;
         height: 100vh;
         background: rgb(199, 54, 54);
         top: 80px;
         left:-100%;
         text-align: center;
         transition: all .5s;
     } 
     nav ul li{
         display: flex;
         justify-content: center;
         
     }
      nav ul li a{
          font-size: 20px;
      }
}
    
    

      header > a:hover, header > a.active{
          background: none;
          color: white;
      }
      #check:checked ~ul{
          left: 0;
      }
 }
    