.sectionTarjetas{
    background-image: url("../img/zD18bKX.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    
    padding-top: 2rem;
    .containerTarjetas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 680px) {

        background-size: 150%;
        
    }

    @media (max-width: 540px){
        background-size: 170%;
    }
    
    @media (max-width: 480px){
        background-size: 230%;
    }
}